.title {
    @apply text-2xl mb-2;
}
.card {
    @apply rounded-3xl overflow-hidden relative bg-orange-100/50 hover:bg-orange-200 w-full 2xl:text-2xl; 
    min-height: 15rem;
    box-shadow: 0px 6px 30px rgba(132, 145, 170, 0.2);
    max-width: 376px;
  
    .image {
      min-height: 58%;
      position: relative;
    }
  
    &:hover {
      box-shadow: 0px 6px 30px rgba(100, 100, 100, 0.3);
  
      .image {
        transition: 300ms;
        transform: scale(1.01);
      }
    }
  }
  
  .content {
    @apply px-5 py-3;
  }