.card {
  @apply overflow-hidden relative w-full 2xl:text-2xl;
  min-height: 15rem;
  max-width: 376px;


  .image {
    min-height: 58%;
    position: relative;
    width: 100%;
  }

  .withBN {
    filter: saturate(0);

   /*  &:hover {
      filter: saturate(1);
    } */
  }
}
