.card {
    @apply flex justify-center items-center flex-col;
}

.margin {
    @apply mt-24;
}

.container {
    @apply text-2xl;
}

.gradient {
    @apply absolute bg-gradient-to-t from-0% from-black to-70% to-transparent w-full left-0 -mb-4;
    bottom: 0;
}

.content {
    @apply flex flex-col w-fit;
    text-align: start;
}

.title {
    @apply text-7xl w-fit pl-4;
    white-space: nowrap;
}

.card {
    @apply flex justify-center items-center flex-col relative w-fit m-auto;
}

.boxInfo {
    @apply flex justify-evenly mt-24 text-base;
}

.description {
    @apply max-w-3xl;

    em {
        font-style: italic;
    }
}

.main {
    @apply text-2xl;
}

.tldr {
    @apply text-zinc-400 mt-8 cursor-pointer;
}

.boxRoles {
    @apply max-w-md;
}

.subtitle {
    @apply my-2 font-semibold;
}

.roles {
    @apply mb-8;
}

.boxProblem {
    @apply flex justify-around items-start;
}

.imageConteiner {
     @apply grid items-center grid-cols-2 grid-rows-2 mt-16;
    //@apply just ify-center gap-8 flex-wrap px-6 lg:px-10 saturate-50;

}  