.container {
    @apply text-2xl;
}

.margin {
    @apply mt-24;
}

.content {
    @apply flex flex-col;
    text-align: end;
    position: absolute;
    left: 21%;
    transform: translateY(-90%);
}
.title {
    @apply text-7xl;
    white-space: nowrap;
}

.card {
    @apply flex justify-center items-center flex-col;
}

.boxInfo {
    @apply flex justify-evenly mt-24 text-base;
}

.description {
    @apply max-w-3xl;

    em {
        font-style: italic;
    }
}

.main {
    @apply text-2xl;
}

.tldr {
    @apply text-zinc-400 mt-8 cursor-pointer;
}

.boxRoles {
    @apply max-w-md;
}

.subtitle {
    @apply my-2 font-semibold;
}

.roles {
    @apply mb-8;
}

.boxProblem {
    @apply flex flex-col items-center;
}

.containerHipotesis {
    @apply mb-16 grid grid-cols-1 gap-4 md:grid-cols-2 lg:gap-8;
}
.boxHipotesis {
    @apply flex flex-col text-center;

    .card {
        @apply relative h-full rounded-2xl bg-gradient-to-br from-white/5 to-white/10 shadow-xl m-6 sm:p-10 md:p-1;
    }
}

.size {
    @apply max-w-xs;
}


