$delay-time: 0.5s;

/*   .cover { 
    @apply p-8 lg:p-12 flex relative lg:static flex-col items-center justify-center m-auto gap-5 overflow-hidden;
}  */ 

 .section {
  @apply flex justify-center relative lg:static flex-col overflow-hidden m-auto;
}  
.container {
  @apply flex flex-col mt-16;

  .text1,
  .text2,
  .text3,
  .text4 {
    @apply font-thin opacity-0;
    font-size: 165px;
    font-weight: 100;
    line-height: 130px;
    font-family: "Inter";
    animation: aparecer 0.5s ease-out forwards;
    animation-delay: $delay-time;

  }

  .text1 {
    animation-delay: 0s;
    margin-left: 16%;
  }

  .text2 {
    animation-delay: $delay-time;
    // margin-left: 8%;
  }

  .text3 {
    animation-delay: $delay-time * 2;
  }

  .text4 {
    animation-delay: $delay-time * 3;
    margin-left: 16%;
  }

  .box {
    @apply flex flex-row items-center justify-center;

    .subtext {
      @apply text-center text-sm;
      max-width: 190px;
    }
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.mainBox {
  @apply flex justify-end mt-32;
  font-family: "Nunito";
  font-weight: 200;
}
.mainText {
  @apply text-2xl max-w-2xl flex;
}

.centerAbout {
  @apply flex flex-col mt-32 max-w-4xl; 
  font-family: "Nunito";
  font-weight: 200;
}

.centerContent {
  @apply flex flex-col text-left;

}

.aboutBox {
  @apply flex flex-col mt-32 max-w-4xl;
}
.about {
  @apply text-2xl max-w-3xl;
}

.margin {
  @apply mt-12;
}


.imageConteiner {
  @apply flex justify-center gap-14 flex-wrap px-6 lg:px-10;
  margin-top: 65px;
  
}

.list {
  @apply my-40;
  //max-width: 60%;
}