.container {
    @apply flex items-end justify-between mb-20 font-light text-neutral-400;
    transition: color 0.6s ease;
}
.line {
    @apply border-b-2 border-zinc-800 w-full;
    opacity: 0.3;
    transition: color 0.9s ease;
}

.sizeLeft {
    @apply w-3/5;
}

.sizeRight {
    width: 10%;
}

.container:hover {
    @apply text-stone-50; 
}

.container:hover .line {
    opacity: 0.7;
}

.container:hover .card {
    filter: none; 
}

.container:hover .text {
    @apply text-stone-100; 
}

.box {
    @apply mt-12;
}

.content {
    @apply flex flex-col items-end;
}
.title {
    @apply text-7xl;
    white-space: nowrap;
}

.text {
    @apply text-sm text-neutral-500;
    transition: color 0.6s ease;
}

.card {
    @apply overflow-hidden relative w-full 2xl:text-2xl rounded mx-5;
    min-height: 10rem;
    max-width: 376px;
    filter: grayscale(100%);
    transition: filter 0.9s ease;
    position: relative;
    transform: translateY(5%);
}
