.container {
 transition: color 0.6s ease;
}

.container:hover {
    @apply text-stone-50; 
}


.container:hover .card {
    filter: none; 
}

.container:hover .text {
    @apply text-stone-100; 
}

.content {
    @apply flex flex-col items-start ml-7;
}

.text {
    @apply text-sm text-neutral-500;
    transition: color 0.6s ease;
}

.card {
    @apply overflow-hidden  2xl:text-2xl rounded mx-5;
   // min-height: 10rem;
   // max-width: 376px;
    filter: grayscale(100%);
    transition: filter 0.9s ease;
}
